# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head(20)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban
10,New Kimberlyborough,2019-02-07 01:10:11,9.34,7992781920789,33,Urban
11,West Angela,2019-01-12 01:45:27,26.86,4820052223501,48,Urban
12,Rodneyfort,2019-03-02 18:03:20,44.26,2494064867705,34,Urban
13,West Angela,2019-01-10 12:17:31,12.74,2108723916092,48,Urban
14,Roberthaven,2019-05-04 14:48:56,25.66,1026197778354,47,Urban
15,North Jason,2019-03-28 22:28:44,9.19,7007022521141,6,Urban
16,Williamsview,2019-01-03 16:19:25,18.93,1979492913169,46,Urban
17,Leahton,2019-02-26 18:42:15,8.85,6966668662612,17,Urban
18,West Anthony,2019-03-06 02:27:01,10.02,9396763280782,70,Urban
19,New Kimberlyborough,2019-04-25 22:58:38,29.67,4823568522144,33,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# 2. Get the total drivers for each city type
total_drivers = city_data_df.groupby(["type"]).sum()["driver_count"]
total_drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [5]:
#  3. Get the total amount of fares for each city type
total_fares = pyber_data_df.groupby(["type"]).sum()["fare"]
total_fares

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [6]:
#  4. Get the average fare per ride for each city type. 
average_fare = total_fares/total_rides
average_fare

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [7]:
# 5. Get the average fare per driver for each city type. 
average_driver_fare =  total_fares/total_drivers
average_driver_fare

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [8]:
#  6. Create a PyBer summary DataFrame. 
Pyber_summary_df = pd.DataFrame(
          {"Type":["Rural","Urban","Suburban"],
        "Total Rides": total_rides,
          "Total Drivers": total_drivers,
          "Total Fares": total_fares,
          "Average Fare per Ride": average_fare,
          "Average Fare per Driver": average_driver_fare
           })
Pyber_summary_df

,Type,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,,
Rural,Rural,125,78,4327.93,34.623440,55.486282
Suburban,Urban,625,490,19356.33,30.970128,39.502714
Urban,Suburban,1625,2405,39854.38,24.525772,16.571468

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
Pyber_summary_df.index.name = None

In [12]:
#  8. Format the columns.
Pyber_summary_df["Total Rides"] = Pyber_summary_df["Total Rides"].map("{:,}".format)
Pyber_summary_df["Total Drivers"] = Pyber_summary_df["Total Drivers"].map("{:,}".format)
Pyber_summary_df["Total Fares"] = Pyber_summary_df["Total Fares"].map("${:,.02f}".format)
Pyber_summary_df["Average Fare per Ride"] = Pyber_summary_df["Average Fare per Ride"].map("${:,.02f}".format)
Pyber_summary_df["Average Fare per Driver"] = Pyber_summary_df["Average Fare per Driver"].map("${:,.02f}".format)
Pyber_summary_df.style.set_properties(**{'text-align':'center'})

ValueError: Cannot specify ',' with 's'.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame
pyber_data_df.head()

In [ ]:
pyber_data_df["date"]=pd.to_datetime(pyber_data_df["date"])

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
earnings_by_date_df = pyber_data_df.groupby(["date","type"]).sum()["fare"]

earnings_by_date_df

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
earnings_by_date_df = earnings_by_date_df.reset_index()
earnings_by_date_df

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
earnings_by_date_df = pyber_data_df.groupby(["date","type"]).sum()["fare"]
earnings_by_date_df = pyber_data_df.pivot(index="date", columns="type", values="fare")
earnings_by_date_df.head()

In [ ]:
earnings_by_date_df.index = pd.to_datetime(earnings_by_date_df.index)

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
earnings_first_quarter_df=earnings_by_date_df.loc['2019-1-1':'2019-04-28']
earnings_first_quarter_df.tail()

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
earnings_first_quarter_df.index = pd.to_datetime(earnings_first_quarter_df.index)
earnings_first_quarter_df

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()
earnings_first_quarter_df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
earnings_by_week_df = earnings_first_quarter_df.resample("W").sum()
earnings_by_week_df

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
plt.figure(figsize=(12, 3))
earnings_by_week_df.plot(ylabel="fare", figsize=(14,3))
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')
plt.xlabel("date")
plt.ylabel("fare")
plt.title("Total Fare by City Type")
plt.legend()
plt.grid()
plt.savefig("Analysis/PyBer_fare_summary.png")